.newPost {
    &__add-event-header {
        position:absolute;
        right: 0;
        top: -7px;
    }
}

.form-control, textarea {
    &.error {
        border-color: red;
    }
}

.new-post-form {
    display: none;
    &.show {
        display: block;
    }
}

.editor-validation-error .mce-container {
    border-color: red;
}
