.newPost {
    &__add-event-header {
        position: absolute;
        right: 0;
        top: -7px;
    }
}

.form-control,
textarea {
    &.error {
        border-color: red;
    }
}

.new-post-form {
    display: none;
    &.show {
        display: block;
    }
}

.editor-validation-error .mce-container {
    border-color: red;
}

.ui-timepicker-input {
    &:disabled {
        background: transparent;
        font-style: italic;
    }
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #484848;
    background-color: #fff;
    padding: 11px 11px 9px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 0;
}
