.event-settings {
    opacity:0;
    transition: opacity 300ms ease-in;
    position: absolute;
    left: 15px;
    right: 15px;
    &.show {
        left:auto;
        right: auto;
        opacity:1;
        position: relative;
    }
    .delete-event {
        position: absolute;
        right: 0;
        top: 16px;
        z-index:1;
    }
    .delete-color {
        position: absolute;
        bottom: 0px;
        left: 161px;
        bottom: 11px;
    }
}

.demo-event-message {
    background: #da4167;
    text-align: center;
    margin:10px 0;
    padding-top: 10px;
    p {
        padding-bottom:10px;
        margin: 0;
        color: #fff;
    }
}

.the-colour-picker {
    margin-top: -13px;
    margin-left: -15px;
}

.twitter-picker {
    box-shadow:none !important;
}
