.new-widget {
    background:#da4167;
    height:300px;
    text-align: center;
    color:#fff;
    position: relative;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
        background:#ee4a72;
    }

    &__text {
        left: 0;
        right: 0;
        padding: 15px;
        bottom: 13px;
        position: absolute;
    }

    i {
        font-size: 60px;
        padding-top: 90px;
    }
}
