@import '../../_variables';

.back-to-weebly {
    margin-left: 13px;
    vertical-align: middle;
}

.setting-title {
    font-size: 16px;
    font-weight: bold;
    color: $primary;
    margin-bottom: 0;
    &--strike {
        text-decoration: line-through;
    }
}

.setting-sub-title {
    font-size: 14px;
    margin-bottom: 14px;
}

.dashboard-editor {
    display: flex;
    flex-flow: column;
    &__content {
        flex: 1;
        overflow-y:scroll;
    }
}

.calendar-settings {
    border-left: 1px solid #eee;

    .form-group {
        margin-bottom: 0;
    }
}

.settings-form {
    &__locked {
        text-align: left;
        font-size: 35px;
        color: #e3ea3c;
        position: absolute;
        top: -15px;
        cursor: pointer;
    }
    &--invalid {
        cursor: pointer;
    }
}

.weebly-button {
    margin-top: 20px;
}
