.event-actions {
    padding: 0 23px 0 30px;
    background: #fff;

    &__actions {
        border-top:1px solid #eee;
        padding: 20px 0;
        .action {
            margin-right: 10px;
        }
    }

    &__delete {
        cursor: pointer;
        &:hover {

        }
    }
}
