.event-actions {
    padding: 0 23px 0 30px;
    background: #f2f2f2;

    &__actions {
        border-top: 1px solid #cbc9c9;
        padding: 20px 0;
        .action {
            margin-right: 10px;
        }
    }

    &__delete {
        cursor: pointer;
        &:hover {

        }
    }
}
