.settings-navigation {
    display: flex;
    .setting {
        display: flex;
        cursor: pointer;
        border-bottom: 3px solid #eee;
        font-size: 18px;
        font-weight: bold;
        padding: 24px 0px;
        color: #999999;
        transition: color 0.1s ease-in;
        &:hover {
            color: #444;
            i {
                margin-right: 0px;
            }
        }
        &--active {
            opacity: 1;
            color:#444;
            border-bottom: 3px solid #474747;
        }
        &--separate {
            margin-top: 32px;
        }
        i {
            margin-left: auto;
            align-self: center;
            font-size: 32px;
            margin-right: 10px;
            transition: margin-right 0.2s ease-in, margin-left 0.2s ease-in;
        }
        &--reverse {
            i {
                margin-left: 0;
                margin-right: auto;
            }
            &:hover {
                i {
                    margin-left: -10px;
                    margin-right: auto;
                }
            }
        }
    }
}
