.settings-navigation {
    .setting {
        display: inline-block;
        cursor: pointer;
        border-bottom: 3px solid #eee;
        font-size: 18px;
        font-weight: bold;
        padding: 20px 10px;
        color: #999999;
        transition: color 0.1s ease-in;
        &:hover {
            color: #444;
        }
        &--active {
            opacity: 1;
            color:#444;
            border-bottom: 3px solid #474747;
        }
    }
}
