.eca-dashboard__no-events-message.filters {
    position: static;
}

.eca-dashboard__no-filters-message-container {
    a {
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}

.noAvailableFilters {
    iframe {
        margin-top: 20px;
    }
}
