.plans {
    text-align: center;

    h2 {
        font-weight: bold;
    }

    .normal {
        font-size: 16px;
        color: #444;
        font-weight: normal;
    }

    .italic {
        font-style: italic;
    }

    .pricing-plan {
        display: flex;
        align-content: center;
        flex-direction: column;    /* Lay out item’s contents vertically  */
        position: relative;
        border: 1px solid #ab9d99;
        width: 300px;
        height: 250px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;

        &__header {
            padding-top: 25px;
            color: #929292;
        }

        &__price-container {
            display: flex;
            align-content: center;
            flex-direction: column;    /* Lay out item’s contents vertically  */
            align-items: center;
            justify-content: center;
        }

        &__seperating-border {
            height: 1px;
            width: 74px;
            background: #9A9999;
            color: #9A9999;
        }

        &__under-price-text {
            color: #999999;
            padding-top: 3px;
        }

        &__price {
            width: 100%;
            font-size: 38px;
            &__time-period {
                font-size:12px;
            }
        }

        &__notes {
            color: #999999;
            margin-top: auto;
            padding: 0px 40px 25px 40px;
            font-size: 10px;
            padding-bottom: 25px;
        }
    }

    .faq {
        text-align: left;
        background:#f3f3f3;

        h2 {
            font-weight: bold;
            margin-bottom: 22px;
        }

        p {
            font-size:16px;
            padding:10px 0px;
            color: #444;
            font-weight: normal;
            &.lighter {
                color: #737272;
            }
        }
    }
}
