@import '../../../_variables';

.weebly-no-calendar-linked {
    background: $pink;
    color: #fff;
    padding: 16px;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 14px;
    i {
        padding-right: 8px;
    }
}
