.newPost {
    display: none;
    &__add-event-header {
        position:absolute;
        right: 0;
        top: -7px;
    }

    &.show {
        display: block;
    }

    &__tip {
        background: #da4167;
        padding: 15px;
        color: #fff;
        margin-top: 15px;
        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

}

.new-post-container {
    height: calc(100vh - 77px - 56px);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@keyframes color {
  0% {
    background-color: #da4167;
  }
  50% {
    background-color: #eb4f75;
  }
  100 {
    background-color: #da4167;
  }
}
