.newPost {
    display: none;
    &__add-event-header {
        position:absolute;
        right: 0;
        top: -7px;
    }

    &.show {
        display: block;
    }

    &__tip {
        background: #da4167;
        padding: 15px;
        color: #fff;
        margin-top: 15px;
        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

}

.new-post-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

@keyframes color {
  0% {
    background-color: #da4167;
  }
  50% {
    background-color: #eb4f75;
  }
  100 {
    background-color: #da4167;
  }
}
