.successful-link-modal {
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 0;
    }
    .modal-header {
        h2 {
            margin-top: 13px;
        }
    }
    .modal-footer {
        padding-top: 0;
    }
}
