.account-navigation {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 20px 40px;
            margin: 0 -15px 0 -15px;
            font-size:21px;
            cursor: pointer;
            &:hover, &.selected {
                background: #ececec;
            }
        }
    }
}
