.suggestion-instructions-container {
    position: relative;
    opacity:0;
    transition: all 0.5s;
    height: 0;
    margin-bottom: 0;

    &.show {
        opacity: 1;
        height: 42px;
        margin-bottom: 20px;
    }
}

.suggestion-instructions {
    text-align: center;
    background: #da4167;
    font-size: 16px;
    color: #fff;
    width: 100%;
    padding: 9px;
    margin-top: 20px;
    border-radius: 1px;
}
