<script>
$(document).ready(function(){
   $('.navigation__mobile-navigation__close').on({
       'touch': function () {
           $('.navigation__mobile-navigation').removeClass('navigation__mobile-navigation--active');
       },
       'click': function () {
           $('.navigation__mobile-navigation').removeClass('navigation__mobile-navigation--active');
       }
   });

   $('.navigation__mobile-hamburger').on({
       'touch': function () {
           $('.navigation__mobile-navigation').addClass('navigation__mobile-navigation--active');
       },
       'click': function () {
           $('.navigation__mobile-navigation').addClass('navigation__mobile-navigation--active');
       }
   });
});
</script>
<header>
    <div class="navigation-bar">
        <div class="navigation__logo">
            <a class="svg" href="/">
                <object class="logo" data="/images/logo/logo.svg" type="image/svg+xml"></object>
            </a>
        </div>
        <div class="navigation__mobile-hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navigation__mobile-navigation">
            <div class="navigation__mobile-navigation__close"><i class="fas fa-times"></i></div>
            <ul>
                <li>
                    <span aria-haspopup="true" class="dropdown">Platforms</span>
                    <ul>
                        <li>
                            <a href="/integrations/squarespace">Squarespace</a>
                        </li>
                        <li>
                            <a href="/integrations/wix">Wix</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/pricing">Pricing</a>
                </li>
                <li>
                    <a href="https://support.eventcalendarapp.com" target="_blank"/>Help</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
        <div class="navigation__links">
                <ul>
                    <li>
                        <span aria-haspopup="true" class="dropdown">Platforms</span>
                        <ul>
                            <li>
                                <a href="/integrations/squarespace">Squarespace</a>
                            </li>
                            <li>
                                <a href="/integrations/wix">Wix</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="https://support.eventcalendarapp.com" target="_blank"/>Help</a>
                    </li>
                    <li>
                        <a class="bold" href="/login">Login</a>
                    </li>
                    <li>
                        <a class="secondary" href="/register">Get Started</a>
                    </li>
                </ul>
        </div>
    </div>
</header>
