<section class="container-fluid testimonial">
    <div class="container">
        <div class="row row-spacing">
            <div class="col-md-12 what-customers-think">
                <h2>What our customers think</h2>
            </div>
            <div class="col-md-6 testimonial-container">
                <div class="row">
                    <div class="col-md-12">
                        <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                        <p class="testimonial__content"><i class="fa fa-quote-left" aria-hidden="true"></i>Event Calendar App is easy to use and extremely cost effective. I highly recommend to any CEO/entrepreneur who is seeking a way to streamline and bring awareness to company events. Having the ability to upload and tweak events via my mobile phone adds value while traveling.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
                        <img class="avatar-image" src="/images/testimonial/coach.jpg">
                        <p class="testimonial__person-name">Coach Michele</p>
                        <p class="testimonial__business-name">Michele Lee Ellis Consulting, LLC</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 testimonial-container">
                <div class="row">
                    <div class="col-md-12">
                        <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                        <p class="testimonial__content"><i class="fa fa-quote-left" aria-hidden="true"></i>Great email support from developers. I've only had one issue in the past year and it was solved within an hour of reaching out!
                             Easy to integrate and implement into our custom website!<i class="fa fa-quote-right" aria-hidden="true"></i></p>
                        <img class="avatar-image" src="https://dl.airtable.com/cHcrqCr6TYm9tnv26oD0_full_Logo%20-%20Jetty%20Rocks.jpg">
                        <p class="testimonial__person-name">Courtney</p>
                        <p class="testimonial__business-name">Jetty Extracts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
