.calendarCode {
    padding: 0 15px;
    p {
        font-size: 14px;
        &.subtitle {
            font-size: 16px;
            font-weight: bold;
            color: #444;
            margin: 0;
            padding: 0;
        }
    }
    textarea {
        width: 100%;
        background: #dadada;
        color: #736f6f;
        border: 0;
        padding: 11px;
        font-size: 11px;
        border-radius: 1px;
    }
}

.calendarcode-container--highlight {
    background: #da4167;
    padding: 17px 15px;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    textarea {
        background: #ae2647;
        border: 0;
        color: #fff;
        padding: 5px 15px;
        font-size: 12px;
        outline: none;
        margin: 0 0 10px;
        &:focus {
            box-shadow: 0 0 0 2px #951b38
        }
    }
    p {
        color: #fff;
        &.subtitle {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            margin: 0;
            padding: 0;
        }
    }

    .calendarCode__shopify {
        padding-top: 13px;
        padding-bottom: 0;
        text-decoration: underline;
        a {
            color:#fff;
        }
    }
}

.calendarCode__shopify {
    font-size:14px;
    padding-top: 13px;
    a {
        text-align: left !important;
    }
    i {
        padding-right: 5px;
    }
}

@keyframes color {
  0% {
    background-color: #da4167;
  }
  50% {
    background-color: #eb4f75;
  }
  100 {
    background-color: #da4167;
  }
}
