<!DOCTYPE html>
<html lang="en" id="event-calendar-app-admin">

<head>
    <meta charset="UTF-8">
    <title>Event Calendar Admin</title>
    <!-- Latest compiled and minified CSS -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'></head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

    {{#if isProd}}
        <!-- BEGIN TRACKJS -->
        <script type="text/javascript">window._trackJs = { token: '4213d84a977b49eb95f205c2099e794d' };</script>
        <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
        <!-- END TRACKJS -->
    {{/if}}

    <script>
        UPLOADCARE_PUBLIC_KEY = '3005043d0d565512723f';
    </script>

    <script>
        window.eca_admin_mode = true;
    </script>

    {{#if isProd}}

        <script>
            (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;
        s.src='https://widget.intercom.io/widget/scigxdd1';
        var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
        </script>


    {{/if}}

    {{#if dev}}
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/u410pmry';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

    {{/if}}

    <!-- Google adwords tracking -->
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion_async.js" charset="utf-8"></script>
    <!-- End Google adwords tracking -->

    {{#if isProd}}
        <link rel="stylesheet" href="/build/styles.css">
    {{/if}}

    <script>
        window.NODE_ENV = '{{NODE_ENV}}';
        window.ecaBreakCacheOnInitialLoad = true;
    </script>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    {{#if loadApp}}
    <div id="app" class="fill"></div>
    {{/if}}

    {{#if isError}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Whoops! There was an error</h1>
                <p>{{error}}</p>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if isProd}}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    {{/if}}
    {{#if dev}}
    <script src="/scripts/jquery-latest.min.js"></script>
    {{/if}}
    {{#if dev}}
        <script src="http://dev.eventcalendarapp.com:1212/main.js"></script>
    {{/if}}

    {{#if secureDev}}
        <script src="https://dev.eventcalendarapp.com:1212/main.js"></script>
    {{/if}}

    {{#if isProd}}
        <script src="/build/main.js"></script>
    {{/if}}

</body>

</html>
