.welcome-page-header {
    h2 {
        font-weight: bold;
        padding-bottom: 12px;
    }
    p {
        padding-bottom: 30px;
    }
}

.welcome-card {
    text-align: center;
    margin-bottom:44px;
    padding: 40px 21px 50px;
    &__header {
        font-weight: bold;
        padding-bottom: 15px;
    }
    &__connect {
        border: 3px solid #444;
        color: #444;
        margin: 15px 27px 0px;
        display: inline-block;
        cursor: pointer;
        padding: 14px 35px;
    }
    &__description {
        color: #999;
        p {
            color: #999;
            margin-bottom: 0px;
            padding-bottom: 10px;
            font-size: 14px;
        }
    }
    &__cronofy-desription {
        color: #fff;
        font-size: 10px;
        padding-top: 25px;
    }
}

.welcome-card--primary {
    border: 1px solid;
    background: #2e3d4e;
    padding: 40px 21px 45px;

    &__header {
        color:#fff
    }
    &__connect {
        border: 3px solid #fff;
        color: #fff;
        margin: 15px 27px 0px;
        display: inline-block;
        cursor: pointer;
        padding: 14px 35px;
        &:hover {
            color:#fff;
        }
    }
    &__description {
        color: #fff;
        p {
            color: #fff;
        }
    }
}
