<!DOCTYPE html>
<html lang="en">
    {{> head title='Event Calendar App and Widget' description='A simple and beautiful event calendar app and widget that you can easily integrate into your own website with just a snippet of code.'}}
    <body class="home-page">
        <div class="navigation">
            {{> navigation }}
            <div class="container">
                <div class="header">
                    <h1>Display your events, beautifully.</h1>
                    <p>ECA is the most simple way to add a stunning Event Calendar to your website. Install in minutes.</p>
                    <a class="secondary secondary--thick" href="/register">Create your events calendar</a>
                    <a class="buy video venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=IeLttQzmKsc"><i class="fa fa-video-camera" aria-hidden="true"></i> Watch video</a>
                </div>
            </div>
        </div>
        <div class="container-fluid trusted-by">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="platforms__header"><h3>Trusted by some incredible companies</h3></div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="https://haute-elan.com/pages/haute-elan-events" target="_blank"><img src="/images/companylogos/haute-elan.png" /></a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="https://gooselane.com/pages/events" target="_blank"><img src="/images/companylogos/goose-lane.jpg" /></a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="https://alumni.ucla.edu/womens-herstory-calendar/" target="_blank"><img style="height:94px; padding-top:23px;" src="/images/companylogos/uclaalumini.png" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-spacing catch-line" style="margin-bottom: 0px; padding-bottom: 0;">
                <div class="col-md-12">
                    <div>
                        <h2>Install this calendar on your own site. In <strong>minutes.</strong></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container widget">
            <div class="row">
                <div class="col-md-12">
                    <div id="app-container"></div><script>(function () {
                        window.eventCalId=2;
                        var integrationScript = document.createElement("script");
                        integrationScript.async = 1;
                        integrationScript.setAttribute("src", "https://drux6c7e0s0bo.cloudfront.net/integration-script-aws.js");
                        document.head.appendChild(integrationScript);
                        })();
                    </script>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-spacing catch-line">
                <div class="col-md-12">
                    <div>
                        <p style="margin-top:0"><a class="secondary" href="/register">Install on my website</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid feature-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Connects directly to your existing calendar</h2>
                        <p class="connection-icons"><i class="fa fa-google" aria-hidden="true"></i><i class="fa fa-windows" aria-hidden="true"></i><i class="fa fa-apple" aria-hidden="true"></i></p>
                        <p>Event Calendar App integrates with the tools that you are already using. There's no need to add all your events into a new system. We sync directly with your <strong>Google</strong>, <strong>Outlook</strong> or <strong>Apple</strong> calendar. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid feature-two">
            <div class="row vertical-align">
                <div class="col-md-4 col-md-offset-2 feature-two__content">
                    <h1>Keep your customers updated about your events</h1>
                    <p>Customers can 'subscribe' to your calendar, meaning that your events will appear directly inside of their own calendar. An unbelievably simple way to stay connected to your customers without being intrusive.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/homepage/one.jpg"></img>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-md-3 col-md-offset-2">
                    <img src="/images/homepage/three.jpg"></img>
                </div>
                <div class="col-md-4 col-md-offset-1 feature-two__content">
                    <h1>Fully responsive and adaptable to your site</h1>
                    <p>Event calendar app looks great on your desktop, tablet and mobile site. It also fully adapts to the space that you give it. Want a calendar that dominates your page? Great! Want a calendar that sits subtly in a sidebar? Also great!</p>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-md-4 col-md-offset-2 feature-two__content">
                    <h1>Sell tickets to your events</h1>
                    <p>Easily add 'purchase' buttons to your events and direct people to where you are selling tickets.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/homepage/two.jpg"></img>
                </div>
            </div>
        </div>
        <div class="container-fluid platforms">
            <div class="row row-spacing">
                <div class="col-md-12">
                    <div class="platforms__header"><h2>Fully compatible with all platforms</h2></div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="/images/platform-images/shopify.png" />
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="/images/platform-images/squarespace.png" />
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="/images/platform-images/weebley.png" />
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="/images/platform-images/wordpress.png" />
                </div>
                <div class="col-md-12">
                    <p>...and we mean, ALL platforms.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row catch-line row-spacing">
                <div class="col-md-12">
                    <h1>Give your events the attention they deserve.</h1>
                    <p>ECA is completely free for 7 days. Cancel at any point during this period and you won't be charged.</p>
                    {{#unless loggedIn}}
                        <a class="secondary secondary--thick" href="http://eventcalendarapp.com/register">Get your event calendar</a>
                    {{/unless}}
                    {{#if loggedIn}}
                        <a class="secondary secondary--thick" href="http://eventcalendarapp.com/dashboard">Get your event calendar</a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="container-fluid footer-container">
            <div class="row catch-line footer">
                <div class="col-md-12">
                    <div class="legal"><a href="/terms-of-use">Terms of Use</a> | <a href="/privacy-policy">Privacy Policy</a></div>
                    <div>© 2017 - EVENTCALENDARAPP</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/scripts/venobox.js"></script>

    <script>
    $(document).ready(function(){
        $('.venobox').venobox();
    });
    </script>
</body>
</html>
