<!DOCTYPE html>
<html lang="en">
    {{> head head title='Event Calendar App and Widget' description='A simple and beautiful event calendar app and widget that you can easily integrate into your own website with just a snippet of code.'}}
    <body class="pricing">
        <div class="navigation">
            {{> navigation }}
            <div class="container">
                <div class="header">
                    <h1>You're going to love ECA. We promise.</h1>
                    <p>We're super confident that you're going to love Event Calendar App. If for any reason you're not happy, cancel within 7 days for a full refund.</p>
                    <a class="secondary secondary--thick" href="/register">Start free trial</a>
                </div>
            </div>
        </div>
        <div class="pricing-info">
        <div class="container">
            <div class="row center plans">
                <div class="col-md-4">
                    <div class="pricing-plan">
                        <div class="pricing-plan__header">HOBBY</div>
                        <div class="pricing-plan__price-container">
                            <div class="pricing-plan__hero-container">
                                <img class="pricing-plan__hero" src="/images/pricing1.png"></img>
                            </div>
                            <div class="pricing-plan__price">
                                $9.99
                                <span class="pricing-plan__price__time-period">
                                    /month
                                </span>
                            </div>
                            <div class="pricing-plan__seperating-border"></div>
                            <div class="pricing-plan__under-price-text">
                                7 DAY FREE TRIAL
                            </div>
                        </div>
                        <div class="pricing-plan__features">
                            <ul>
                                <li>Unlimited Traffic</li>
                                <li>Unlimited Events</li>
                                <li><strong>1</strong> Event Calendar</li>
                                <li>Google, Apple, Outlook, Facebook Integration</li>
                                <li><strong>Basic</strong> feature set</li>
                                <li class="negative">ECA Brand Free</li>
                            </ul>
                        </div>
                        <div class="pricing-plan__notes">
                            Cancel during your trial period and you will not be charged.
                        </div>
                        <div class="pricing-plan__start-plan col-md-12">
                            <a href="/register" class="secondary full-width">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pricing-plan professional">
                        <div class="pricing-plan__highlight">Most Popular!</div>
                        <div class="pricing-plan__header">PROFESSIONAL</div>
                        <div class="pricing-plan__price-container">
                            <div class="pricing-plan__hero-container">
                            <img class="pricing-plan__hero" src="/images/pricing2.png"></img>
                            </div>
                            <div class="pricing-plan__price">
                                $19.99
                                <span class="pricing-plan__price__time-period">
                                    /month
                                </span>
                            </div>
                            <div class="pricing-plan__seperating-border"></div>
                            <div class="pricing-plan__under-price-text">
                                7 DAY FREE TRIAL
                            </div>
                        </div>
                        <div class="pricing-plan__features">
                            <ul>
                                <li>Unlimited Traffic</li>
                                <li>Unlimited Events</li>
                                <li><strong>3</strong> Event Calendars</li>
                                <li>Google, Apple, Outlook, Facebook Integration</li>
                                <li><strong>Premium</strong> feature set</li>
                                <li class="negative">ECA Brand Free</li>
                            </ul>
                        </div>
                        <div class="pricing-plan__notes">
                            Cancel during your trial period and you will not be charged.
                        </div>
                        <div class="pricing-plan__start-plan col-md-12">
                            <a href="/register" class="secondary full-width">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pricing-plan">
                        <div class="pricing-plan__header">BUSINESS</div>
                        <div class="pricing-plan__price-container">
                            <div class="pricing-plan__hero-container">
                                <img class="pricing-plan__hero" src="/images/pricing3.png"></img>
                            </div>
                            <div class="pricing-plan__price">
                                $39.99
                                <span class="pricing-plan__price__time-period">
                                    /month
                                </span>
                            </div>
                            <div class="pricing-plan__seperating-border"></div>
                            <div class="pricing-plan__under-price-text">
                                7 DAY FREE TRIAL
                            </div>
                            <div class="pricing-plan__features">
                                <ul>
                                    <li>Unlimited Traffic</li>
                                    <li>Unlimited Events</li>
                                    <li><strong>10</strong> Event Calendars</li>
                                    <li>Google, Apple, Outlook, Facebook Integration</li>
                                    <li><strong>Premium</strong> feature set</li>
                                    <li>ECA Brand Free</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-plan__notes">
                            Cancel during your trial period and you will not be charged.
                        </div>
                        <div class="pricing-plan__start-plan col-md-12">
                            <a href="/register" class="secondary full-width">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table plans-comparison">
                <thead>
                    <tr>
                        <th></th>
                        <th class="center">Hobby</th>
                        <th class="center">Professional</th>
                        <th class="center">Business</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Unlimited Traffic</th>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Unlimited Events</th>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Number of Event Calendars</th>
                        <td class="center">1</td>
                        <td class="center">3</td>
                        <td class="center">10</td>
                    </tr>
                    <tr>
                        <th scope="row">Analytics</th>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Social Media Sharing</th>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Grid, Map and Tile View</th>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Google, Apple, Outlook Sync</th>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Subscriptions</th>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Sync with ICS Feed</th>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Event Images</th>
                        <td class="center"><img src="/images/x.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Ticket Links</th>
                        <td class="center"><img src="/images/x.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Filters</th>
                        <td class="center"><img src="/images/x.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Colour Coded Events</th>
                        <td class="center"><img src="/images/x.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Themes</th>
                        <td class="center"><img src="/images/x.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Google maps integration</th>
                        <td class="center"><img src="/images/x.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                    <tr>
                        <th scope="row">Brand Free Calendar</th>
                        <td class="center"><img src="/images/x.png"></td>
                        <td class="center"><img src="/images/x.png"></td>
                        <td class="center"><img src="/images/check-circle.png"></td>
                    </tr>
                </tbody>
            </table>
            <div class="row cta-section pricing__cta">
                <div class="col-md-12">
                    <h1>Build Your Perfect Event Calendar</h1>
                    <p>Try Event Calendar App for 7 days commitment free</p>
                    <a class="secondary secondary--thick" href="http://eventcalendarapp.com/register">Get your event calendar</a>
                </div>
            </div>
        </div>
        </div>
        <div class="container faq">
            <div class="row row-spacing">
                <div class="col-md-8">
                    <h1>FAQ</h1>
                    <strong>What happens when I start a free trial?</strong>
                    <p>Once you've started your free trial, you'll have full access to all of our features. Specifically, you will be able to integrate the calendar on your website.</p>
                    <strong>When will I be charged?</strong>
                    <p>We only take the first payment 7 days after you begin your trial. You can cancel at any point before this, and you wont be charged a penny.</p>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
</body>
</html>
