<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Event Calendar App and Widget</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="./bootstrapGrid.css">

        <meta name="viewport" content="width=device-width initial-scale=1" />

        <!-- SEO META -->
        <link rel="canonical" href="http://eventcalendarapp.com/">
        <meta name="description" content="A simple and beautiful event calendar app and widget that you can easily integrate into your own website with just a snippet of code.">

        <!--OGG info-->
        <meta property="og:title" content="EventCalendarApp - A simply event calendar for your website" />
        <meta property="og:image" content="http://eventcalendarapp.com/images/og/ogimage.jpg" />
        <meta property="og:description" content="A simple and beautiful event calendar app and widget that you can easily integrate into your own website with just a snippet of code."/>

        <!-- Hotjar Tracking Code for http://eventcalendarapp.com -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:208623,hjsv:5};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

        <!--Google Analytics-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-74477503-1', 'auto');
          ga('send', 'pageview');

        </script>
        <!--End Google Analytics-->

        {{#if isProd}}

        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/scigxdd1';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
        <script>
            window.Intercom('boot', { app_id: 'scigxdd1'});
        </script>

        {{/if}}

        {{#if dev}}
        <script>
  window.intercomSettings = {
    app_id: "u410pmry"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/u410pmry';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

        {{/if}}

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/images/favicons/manifest.json">
        <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- End Favicons -->
    </head>
    <body class="pricing">
        <div class="navigation">
            <div class="navigation-bar">
                <div class="navigation__logo">
                    <a class="svg" href="/"><object class="logo" data="/images/logo/logo.svg" type="image/svg+xml"></object></a>
                </div>
                <div class="navigation__links">
                        <ul>
                            <li>
                                <a href="/pricing">Pricing</a>
                            </li>
                            <li>
                                <a href="https://support.eventcalendarapp.com" target="_blank"/>Help</a>
                            </li>
                            <li>
                                <a class="bold" href="/login">Login</a>
                            </li>
                            <li>
                                <a class="secondary" href="/register">Get Started</a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="container">
                <div class="header">
                    <h1>You're going to love ECA. We promise.</h1>
                    <p>We're super confident that you're going to love Event Calendar App. If for any reason you're not happy, cancel within 7 days for a full refund.</p>
                    <a class="secondary secondary--thick" href="/register">Start free trial</a>
                </div>
            </div>
        </div>
        <div class="pricing-info">
        <div class="container">
            <div class="row catch-line row-spacing plans2">
                <div class="col-md-4">
                    <div class="pricing-plan">
                        <div class="pricing-plan__header">HOBBY</div>
                        <div class="pricing-plan__price-container">
                            <div class="pricing-plan__price">
                                $9.99
                                <span class="pricing-plan__price__time-period">
                                    /month
                                </span>
                            </div>
                            <div class="pricing-plan__seperating-border"></div>
                            <div class="pricing-plan__under-price-text">
                                7 DAY FREE TRIAL
                            </div>
                        </div>
                        <div class="pricing-plan__features">
                            <ul>
                                <li>Unlimited Traffic</li>
                                <li>1 Event Calendar</li>
                                <li>Grid & Map View</li>
                                <li>Google, Apple, Outlook Integration</li>
                                <li>ICS Support</li>
                                <li>Event Calendar Search</li>
                            </ul>
                        </div>
                        <div class="pricing-plan__notes">
                            Cancel during your trial period and you will not be charged.
                        </div>
                        <div class="pricing-plan__start-plan col-md-12">
                            <a href="/register" class="secondary full-width">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pricing-plan">
                        <div class="pricing-plan__highlight">Most Popular!</div>
                        <div class="pricing-plan__header">PROFESSIONAL</div>
                        <div class="pricing-plan__price-container">
                            <div class="pricing-plan__price">
                                $19.99
                                <span class="pricing-plan__price__time-period">
                                    /month
                                </span>
                            </div>
                            <div class="pricing-plan__seperating-border"></div>
                            <div class="pricing-plan__under-price-text">
                                7 DAY FREE TRIAL
                            </div>
                        </div>
                        <div class="pricing-plan__features">
                            <ul>
                                <li><strong>All hobby features +</strong></li>
                                <li>Multi Event Calendar support (up to 3)</li>
                                <li>Subscribable Event Calendar</li>
                                <li>Ticket Links</li>
                                <li>Event Images</li>
                                <li>Event Thumbnails</li>
                            </ul>
                        </div>
                        <div class="pricing-plan__notes">
                            Cancel during your trial period and you will not be charged.
                        </div>
                        <div class="pricing-plan__start-plan col-md-12">
                            <a href="/register" class="secondary full-width">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pricing-plan">
                        <div class="pricing-plan__header">BUSINESS</div>
                        <div class="pricing-plan__price-container">
                            <div class="pricing-plan__price">
                                $39.99
                                <span class="pricing-plan__price__time-period">
                                    /month
                                </span>
                            </div>
                            <div class="pricing-plan__seperating-border"></div>
                            <div class="pricing-plan__under-price-text">
                                7 DAY FREE TRIAL
                            </div>
                            <div class="pricing-plan__features">
                                <ul>
                                    <li><strong>All hobby and professional features +</strong></li>
                                    <li>Multi Event Calendar support (up to 10)</li>
                                    <li>No Event Calendar App Branding</li>
                                    <li>-</li>
                                    <li>-</li>
                                    <li>-</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-plan__notes">
                            Cancel during your trial period and you will not be charged.
                        </div>
                        <div class="pricing-plan__start-plan col-md-12">
                            <a href="/register" class="secondary full-width">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container faq">
            <div class="row row-spacing">
                <div class="col-md-8">
                    <h1>FAQ</h1>
                    <strong>What happens when I start a free trial?</strong>
                    <p>Once you've started your free trial, you'll have full access to all of our features. Specifically, you will be able to integrate the calendar on your website.</p>
                    <strong>When will I be charged?</strong>
                    <p>We only take the first payment 7 days after you begin your trial. You can cancel at any point before this, and you wont be charged a penny.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-container">
            <div class="row catch-line footer">
                <div class="col-md-12">
                    <div class="legal"><a href="/terms-of-use">Terms of Use</a> | <a href="/privacy-policy">Privacy Policy</a></div>
                    <div>© 2017 - EVENTCALENDARAPP</div>
                </div>
            </div>
        </div>
        <!-- <div class="built-by hidden-xs"><img src="https://alexperry.io/images/profileimage.jpg"/>
            <span>Built by
                <a href="http://alexperry.io">alexperry.io</a>
            </span>
        </div> -->
    </div>
</body>
</html>
