<!DOCTYPE html>
<html lang="en">
    {{> head }}
    <body class="pricing">
        <div class="navigation">
            {{> navigation }}
            <div class="container">
                <div class="header">
                    <h1>You're going to love ECA. We promise.</h1>
                    <p>We're super confident that you're going to love Event Calendar App. If for any reason you're not happy, cancel within 7 days for a full refund.</p>
                    <a class="secondary secondary--thick" href="/register">Start free trial</a>
                </div>
            </div>
        </div>
        <div class="pricing-info">
        <div class="container">
            <div class="row catch-line row-spacing plans2">
                <div class="col-md-4">
                    <div class="pricing-plan">
                        <div class="pricing-plan__header">HOBBY</div>
                        <div class="pricing-plan__price-container">
                            <div class="pricing-plan__price">
                                $9.99
                                <span class="pricing-plan__price__time-period">
                                    /month
                                </span>
                            </div>
                            <div class="pricing-plan__seperating-border"></div>
                            <div class="pricing-plan__under-price-text">
                                7 DAY FREE TRIAL
                            </div>
                        </div>
                        <div class="pricing-plan__features">
                            <ul>
                                <li>Unlimited Traffic</li>
                                <li>Unlimited Events</li>
                                <li>1 Event Calendar</li>
                                <li>Grid & Map View</li>
                                <li>Google, Apple, Outlook, Facebook Integration</li>
                                <li>ICS Support</li>
                                <li>Event Calendar Search</li>
                                <li>Subscribable Event Calendar</li>
                                <li class="negative">No themes</li>
                                <li class="negative">No event images</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                                <li>-</li>
                            </ul>
                        </div>
                        <div class="pricing-plan__notes">
                            Cancel during your trial period and you will not be charged.
                        </div>
                        <div class="pricing-plan__start-plan col-md-12">
                            <a href="/register" class="secondary full-width">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pricing-plan">
                        <div class="pricing-plan__highlight">Most Popular!</div>
                        <div class="pricing-plan__header">PROFESSIONAL</div>
                        <div class="pricing-plan__price-container">
                            <div class="pricing-plan__price">
                                $19.99
                                <span class="pricing-plan__price__time-period">
                                    /month
                                </span>
                            </div>
                            <div class="pricing-plan__seperating-border"></div>
                            <div class="pricing-plan__under-price-text">
                                7 DAY FREE TRIAL
                            </div>
                        </div>
                        <div class="pricing-plan__features">
                            <ul>
                                <li>Unlimited Traffic</li>
                                <li>Unlimited Events</li>
                                <li>Multi Event Calendar support <strong>(up to 3)</strong></li>
                                <li>Grid & Map View</li>
                                <li>Google, Apple, Outlook, Facebook Integration</li>
                                <li>ICS Support</li>
                                <li>Event Calendar Search</li>
                                <li>Subscribable Event Calendar</li>
                                <li>Ticket Links</li>
                                <li>Event Images</li>
                                <li>Event Thumbnails</li>
                                <li>Event Filters</li>
                                <li>Colour coded events</li>
                                <li>Themes and custom designs</li>
                                <li>-</li>
                            </ul>
                        </div>
                        <div class="pricing-plan__notes">
                            Cancel during your trial period and you will not be charged.
                        </div>
                        <div class="pricing-plan__start-plan col-md-12">
                            <a href="/register" class="secondary full-width">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pricing-plan">
                        <div class="pricing-plan__header">BUSINESS</div>
                        <div class="pricing-plan__price-container">
                            <div class="pricing-plan__price">
                                $39.99
                                <span class="pricing-plan__price__time-period">
                                    /month
                                </span>
                            </div>
                            <div class="pricing-plan__seperating-border"></div>
                            <div class="pricing-plan__under-price-text">
                                7 DAY FREE TRIAL
                            </div>
                            <div class="pricing-plan__features">
                                <ul>
                                    <li>Unlimited Traffic</li>
                                    <li>Unlimited Events</li>
                                    <li>Multi Event Calendar support <strong>(up to 10)</strong></li>
                                    <li>Grid & Map View</li>
                                    <li>Google, Apple, Outlook, Facebook Integration</li>
                                    <li>ICS Support</li>
                                    <li>Event Calendar Search</li>
                                    <li>Subscribable Event Calendar</li>
                                    <li>Ticket Links</li>
                                    <li>Event Images</li>
                                    <li>Event Thumbnails</li>
                                    <li>Event Filters</li>
                                    <li>Colour coded events</li>
                                    <li>Themes and custom designs</li>
                                    <li><strong>No Event Calendar App Branding</strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-plan__notes">
                            Cancel during your trial period and you will not be charged.
                        </div>
                        <div class="pricing-plan__start-plan col-md-12">
                            <a href="/register" class="secondary full-width">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container faq">
            <div class="row row-spacing">
                <div class="col-md-8">
                    <h1>FAQ</h1>
                    <strong>What happens when I start a free trial?</strong>
                    <p>Once you've started your free trial, you'll have full access to all of our features. Specifically, you will be able to integrate the calendar on your website.</p>
                    <strong>When will I be charged?</strong>
                    <p>We only take the first payment 7 days after you begin your trial. You can cancel at any point before this, and you wont be charged a penny.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-container">
            <div class="row catch-line footer">
                <div class="col-md-12">
                    <div class="legal"><a href="/terms-of-use">Terms of Use</a> | <a href="/privacy-policy">Privacy Policy</a></div>
                    <div>© 2017 - EVENTCALENDARAPP</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
