@import '../../_variables.scss';

.navigation-container {
    background: $primary;
    border-top: 4px solid #da4167;
}

a.svg {
  position: relative;
  display: inline-block;
  height: 27px
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

object.logo {
    width: 100%;
    height: 100%;
}

.navigation {
    text-align:right;
    background: $primary;
    padding: 22px 0px 18px;
    &--extra-padding {
        padding: 22px 30px 18px;
    }
    ul {
        margin: 0;
    }
}

.navigation__logo {
    float:left;
    color:#fff;
    width:200px;

    a {
    }
}

.navigation__links {
    float:right;

    .active {
        font-weight: bold;
        border-bottom: 2px solid #fff;

        &:hover {
            text-decoration: none;
        }
    }
}

.navigation li{
    display: inline;
    list-style: none;
}

.container-fluid {
    .navigation li {
        &:last-child {
            a {
                padding-right: 0;
            }
        }
    }
}

.navigation ul.logged-in li a {
    color: #fff;
}

.navigation li a{
    color: #fff;
    padding: 12px;
    margin: 0px 0px 0px 12px;
    font-size: 16px;

    &.bold {
        font-weight: bold;
    }

    &:hover {
        color: #fff;
    }
}

.navigation li a.primary-color {
    color: #fff;
    border: 2px solid #fff;
}

.navigation li a.primary-color:hover {
    text-decoration: underline;
}

.next-step {
    background: #da4167;
    padding: 11px;
    color: #fff;
    padding-left: 30px;

    &:hover {
        background: #ee4a72;
        cursor: pointer;
    }
}
