@import '../../_variables.scss';

.navigation {
    text-align:right;
    background: $primary;
    padding: 22px 0px 18px;

    ul {
        margin: 0;
    }
}

.navigation__logo {
    float:left;
    color:#fff;
    font-size: 20px;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.navigation__links {
    float:right;

    .active {
        font-weight: bold;
        border-bottom: 2px solid #fff;

        &:hover {
            text-decoration: none;
        }
    }
}

.navigation li{
    display: inline;
    list-style: none;
}

.navigation ul.logged-in li a {
    color: #fff;
}

.navigation li a{
    color: #fff;
    padding: 12px;
    margin: 0px 0px 0px 12px;
    font-size: 16px;

    &.bold {
        font-weight: bold;
    }

    &:hover {
        color: #fff;
    }
}

.navigation li a.primary-color {
    color: #fff;
    border: 2px solid #fff;
}

.navigation li a.primary-color:hover {
    text-decoration: underline;
}
