.calendar-settings {
    border-left: 1px solid #eee;
    .setting-title {
        font-size: 16px;
        font-weight: bold;
        color: #444;
        &--strike {
            text-decoration: line-through;
        }
    }
    .form-group {
        margin-bottom: 0;
    }
}

.settings-form {
    &__locked {
        text-align: left;
        font-size: 35px;
        color: #e3ea3c;
        position: absolute;
        top: -15px;
    }
    &--invalid {
        cursor: pointer;
    }
}

.weebly-button {
    margin-top: 20px;
}
