.footer {
    padding: 21px 0;
    color: #fff;
}

.footer-container {
    background: #2e3d4e;
    a {
        color: #fff;
    }
    a:hover {
        color: #fff;
        text-decoration: underline;
    }

    .legal {
        font-size:12px;
    }
}
