.testimonial {
    &.feature-one {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: left;
    }
    .catch-line {
        text-align: left;
    }
    .avatar-container {
        text-align: center;
    }
    .what-customers-think {
        text-align: center;
    }
    &__content {
    }
    &__person-name {
        font-weight: bold;
        margin-bottom:0;
        padding-bottom:0;
        color:#333;

    }
    &__business-name {
        margin-top:0;
        padding-top:0;
        color:#333;

    }
    .avatar-image {
        border: 4px solid #fff;
        box-shadow: 0 0 0 2pt #dfdede;
        height: 50px;
        width: 50px;
        margin-right: 24px;
        float: left;
        border-radius: 50%;
    }
}
