@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  color: #444; }

h3 {
  font-weight: lighter; }

ol,
ul {
  margin: 0;
  padding: 0; }

.shopify-logo-container {
  width: 200px; }

.darker {
  background: #f3f3f3; }

.get-started-installing {
  margin-bottom: 0; }

.get-started-installing a {
  color: #DA4167;
  font-size: 18px; }

.get-started-installing a:hover {
  text-decoration: none;
  color: #DA4167; }

.pricing .header {
  margin-bottom: 20px; }

a.svg {
  position: relative;
  display: inline-block;
  height: 27px; }

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

object.logo {
  width: 100%;
  height: 100%; }

.home-page .navigation,
.shoppify-layout .navigation {
  background: url("/images/header.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center; }

a.svg {
  position: relative;
  display: inline-block; }

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.navigation-bar {
  display: flex;
  flex-direction: row;
  padding: 0px 15px; }

.navigation-bar .navigation__links {
  align-self: flex-end;
  margin-left: auto; }

.navigation-bar .navigation__logo {
  display: flex;
  align-items: center; }

.navigation {
  text-align: right;
  background: #2e3d4e;
  padding: 24px 0 79px; }

.navigation__links ul.logged-in li a {
  color: #fff; }

.navigation__links ul {
  display: flex;
  align-items: center; }

.navigation__links li {
  list-style: none;
  position: relative; }

.navigation__links li a, .navigation__links li span {
  color: #fff;
  padding: 18px 12px;
  margin: 0 0 0 12px;
  font-size: 16px; }

.navigation__links li .dropdown {
  color: #fff;
  margin: 0 0 0 12px;
  font-size: 16px;
  cursor: pointer; }

.navigation__links li ul {
  display: none;
  position: absolute;
  margin-top: 18px;
  top: 100%;
  left: -15px;
  box-shadow: 0 1px 1px #e2e8ea;
  background: #fff;
  padding: 15px;
  border-radius: 2px; }

.navigation__links li ul:before, .navigation__links li ul:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.navigation__links li ul:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px; }

.navigation__links li ul:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 12px;
  margin-left: -12px; }

.navigation__links li ul li a {
  color: #db4066;
  transition: color 0.1s ease-in; }

.navigation__links li ul li a:hover {
  color: #db4066;
  text-decoration: underline; }

.navigation__links li:hover ul {
  display: block; }

.navigation .bold {
  font-weight: bold; }

.navigation__logo {
  color: #fff;
  font-size: 20px;
  display: none;
  width: 200px; }

.navigation__links {
  text-align: center;
  display: none; }

.navigation__links li:nth-child(1) {
  display: none; }

.navigation__links li:nth-child(2) {
  display: none; }

.navigation li a.primary-color {
  color: #fff;
  border: 2px solid #fff; }

.navigation li a.primary-color:hover {
  text-decoration: underline; }

.navigation__mobile-hamburger {
  margin-left: auto;
  color: #fff;
  padding: 20px 0px 30px 30px;
  cursor: pointer;
  font-size: 26px; }

.navigation__mobile-navigation {
  background: #fff;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: left;
  padding: 30px;
  opacity: 0;
  z-index: -100;
  animation: fadeOut 0.2s forwards;
  border-bottom: 5px solid #db4066; }

.navigation__mobile-navigation--active {
  animation: fadeIn 0.2s forwards; }

.navigation__mobile-navigation .dropdown {
  padding: 10px 0px;
  display: inline-block; }

.navigation__mobile-navigation a {
  color: #db4066;
  transition: color 0.1s ease-in; }

.navigation__mobile-navigation a:hover {
  color: #6787ab;
  text-decoration: none; }

.navigation__mobile-navigation > ul {
  display: flex;
  list-style: none;
  flex-direction: column; }

.navigation__mobile-navigation > ul > li {
  padding: 10px; }

.navigation__mobile-navigation > ul > li ul {
  list-style: none;
  padding: 10px;
  padding-bottom: 0; }

.navigation__mobile-navigation__close {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 30px;
  color: #444;
  padding: 10px;
  cursor: pointer; }

@media (min-width: 768px) {
  .navigation-bar {
    padding: 20px 40px; }
  .navigation__logo {
    display: inline-block; }
  .navigation__links {
    text-align: left; }
  .navigation__links li:nth-child(1) {
    display: inline-block; }
  .navigation__links li:nth-child(2) {
    display: inline-block; }
  .navigation__links {
    display: block; }
  .navigation__mobile-hamburger {
    display: none; }
  .navigation__close {
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 30px;
    color: #444;
    padding: 10px;
    cursor: pointer; }
  .navigation__mobile-navigation {
    display: none;
    animation: fadeOut 0.2s forwards;
    border-bottom: 5px solid #db4066; }
  .navigation__mobile-navigation--active {
    animation: fadeIn 0.2s forwards; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: 100; }
  99% {
    opacity: 1;
    z-index: 100; }
  100% {
    opacity: 1;
    z-index: 100; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 100; }
  99% {
    opacity: 0;
    z-index: -100; }
  100% {
    opacity: 0;
    z-index: -100; } }

.features {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px; }

.features h3,
.features p {
  text-align: center;
  line-height: 23px; }

.features p {
  font-weight: lighter;
  color: #999999; }

.features__icon {
  text-align: center;
  font-size: 52px; }

.features h3 {
  font-weight: lighter; }

.features p {
  font-weight: lighter;
  color: #999999;
  font-size: 14px; }

.features-container i {
  font-size: 50px;
  color: #000;
  color: #367cb8; }

.buy {
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 17px 23px;
  margin: 27px;
  display: inline-block; }

.buy:hover {
  color: #fff;
  text-decoration: underline; }

.buy:active {
  color: #fff;
  text-decoration: none; }

.buy:visited, .buy:focus {
  color: #fff;
  text-decoration: none; }

.buy--dark {
  color: #444;
  border: 2px solid #444; }

.buy--dark:hover {
  color: #444; }

.buy--dark:active {
  color: #444;
  text-decoration: none; }

.buy--dark:visited, .buy--dark:focus {
  color: #444;
  text-decoration: none; }

/* ------ venobox.css --------*/
.vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after {
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.vbox-overlay {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
  -webkit-transform: translateZ(1000px);
  transform: translateZ(1000px);
  transform-style: preserve-3d; }

/* ----- navigation ----- */
.vbox-title {
  width: 100%;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  padding: 6px 40px;
  overflow: hidden;
  position: fixed;
  display: none;
  left: 0;
  z-index: 1050; }

.vbox-close {
  cursor: pointer;
  position: fixed;
  top: -1px;
  right: 0;
  width: 50px;
  height: 40px;
  padding: 6px;
  display: block;
  background-position: 10px center;
  overflow: hidden;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  z-index: 1050; }

.vbox-num {
  cursor: pointer;
  position: fixed;
  left: 0;
  height: 40px;
  display: block;
  overflow: hidden;
  line-height: 28px;
  font-size: 12px;
  padding: 6px 10px;
  display: none;
  z-index: 1050; }

/* ----- navigation ARROWS ----- */
.vbox-next, .vbox-prev {
  position: fixed;
  top: 50%;
  margin-top: -15px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 45px;
  height: 45px;
  z-index: 1050; }

.vbox-next span, .vbox-prev span {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: #B6B6B6;
  border-right-color: #B6B6B6;
  text-indent: -100px;
  position: absolute;
  top: 8px;
  display: block; }

.vbox-prev {
  left: 15px; }

.vbox-next {
  right: 15px; }

.vbox-prev span {
  left: 10px;
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.vbox-next span {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 10px; }

/* ------- inline window ------ */
.vbox-inline {
  width: 420px;
  height: 315px;
  height: 70vh;
  padding: 10px;
  background: #fff;
  margin: 0 auto;
  overflow: auto;
  text-align: left; }

/* ------- Video & iFrames window ------ */
.venoframe {
  max-width: 100%;
  width: 100%;
  border: none;
  width: 100%;
  height: 260px;
  height: 70vh; }

.venoframe.vbvid {
  height: 260px; }

@media (min-width: 768px) {
  .venoframe, .vbox-inline {
    width: 90%;
    height: 360px;
    height: 70vh; }
  .venoframe.vbvid {
    width: 640px;
    height: 360px; } }

@media (min-width: 992px) {
  .venoframe, .vbox-inline {
    max-width: 1200px;
    width: 80%;
    height: 540px;
    height: 70vh; }
  .venoframe.vbvid {
    width: 960px;
    height: 540px; } }

/*
Please do NOT edit this part!
or at least read this note: http://i.imgur.com/7C0ws9e.gif
*/
.vbox-open {
  overflow: hidden; }

.vbox-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  z-index: 20;
  max-height: 100%; }

.vbox-content {
  text-align: center;
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 20px 10px; }

.vbox-container img {
  max-width: 100%;
  height: auto; }

.figlio {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 100%;
  text-align: initial; }

img.figlio {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

.vbox-content.swipe-left {
  margin-left: -200px !important; }

.vbox-content.swipe-right {
  margin-left: 200px !important; }

.animated {
  webkit-transition: margin 300ms ease-out;
  transition: margin 300ms ease-out; }

.animate-in {
  opacity: 1; }

.animate-out {
  opacity: 0; }

/* ---------- preloader ----------
 * SPINKIT
 * http://tobiasahlin.com/spinkit/
-------------------------------- */
.sk-double-bounce, .sk-rotating-plane {
  width: 40px;
  height: 40px;
  margin: 40px auto; }

.sk-rotating-plane {
  background-color: #333;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.sk-double-bounce {
  position: relative; }

.sk-double-bounce .sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out; }

.sk-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.sk-wave {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  margin: 40px auto; }

.sk-wave .sk-rect {
  background-color: #333;
  height: 100%;
  width: 4px;
  margin: 0 1px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }

.sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s; }

.sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-wave .sk-rect4 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s; }

.sk-wave .sk-rect5 {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 100%, 40% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 100%, 40% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

.sk-three-bounce {
  margin: 40px auto;
  width: 100px;
  text-align: center; }

.sk-three-bounce .sk-child {
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 100%;
  margin: 4px;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }

.sk-cube-grid, .sk-spinner-pulse {
  width: 40px;
  height: 40px;
  margin: 40px auto; }

.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s; }

.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s; }

@-webkit-keyframes sk-three-bounce {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-three-bounce {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.sk-spinner-pulse {
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

.sk-cube-grid .sk-cube {
  width: 33.33%;
  height: 33.33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: .1s;
  animation-delay: .1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: .1s;
  animation-delay: .1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 100%, 70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%, 100%, 70% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }

.sk-wandering-cubes {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative; }

.sk-wandering-cubes .sk-cube {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both;
  animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both; }

.sk-wandering-cubes .sk-cube2 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s; }

@-webkit-keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
    transform: translateX(30px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
    transform: translateX(30px) translateY(30px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
    transform: translateX(30px) translateY(30px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

.account-container {
  background: #fff; }

.account__container {
  background: #fff;
  box-shadow: 0 1px 1px #e2e8ea;
  border-radius: 2px; }

.account__header {
  background: #6787ab;
  color: #fff;
  border-radius: 2px 2px 0px 0px;
  padding: 30px 20px 30px 20px; }

.account__header h2 {
  font-weight: bold;
  margin: 0; }

.account__header__subtitle {
  opacity: 0.8; }

.account__content h3 {
  font-weight: bold; }

.plans2 {
  text-align: center; }

.plans2 h2 {
  font-weight: bold; }

.plans2 .normal {
  font-size: 16px;
  color: #444;
  font-weight: normal; }

.plans2 .italic {
  font-style: italic; }

.plans2 .pricing-plan {
  display: flex;
  align-content: center;
  flex-direction: column;
  /* Lay out item’s contents vertically  */
  position: relative;
  box-shadow: 0 1px 4px #cfd2d4;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background: #fff; }

.plans2 .pricing-plan ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.plans2 .pricing-plan ul li {
  margin: 0;
  padding: 5px; }

.plans2 .pricing-plan ul li.negative {
  color: #999; }

.plans2 .pricing-plan__highlight {
  background: #da4167;
  padding: 5px;
  color: #fff;
  font-size: 11px;
  position: absolute;
  width: 100%;
  font-weight: bold; }

.plans2 .pricing-plan__header {
  padding-top: 40px;
  color: #929292; }

.plans2 .pricing-plan__price-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  /* Lay out item’s contents vertically  */
  align-items: center;
  justify-content: center; }

.plans2 .pricing-plan__seperating-border {
  height: 1px;
  width: 74px;
  background: #9A9999;
  color: #9A9999; }

.plans2 .pricing-plan__under-price-text {
  color: #999999;
  padding-top: 3px; }

.plans2 .pricing-plan__price {
  width: 100%;
  font-size: 38px; }

.plans2 .pricing-plan__price__time-period {
  font-size: 12px; }

.plans2 .pricing-plan__features {
  padding: 10px 0px;
  font-size: 14px;
  padding: 25px 0px; }

.plans2 .pricing-plan__notes {
  color: #999999;
  margin-top: auto;
  padding: 0px 40px 25px 40px;
  font-size: 10px;
  padding-bottom: 25px; }

.plans2 .pricing-plan__start-plan {
  padding-bottom: 40px; }

.plans2 .faq {
  text-align: left;
  background: #f3f3f3; }

.plans2 .faq h2 {
  font-weight: bold;
  margin-bottom: 22px; }

.plans2 .faq p {
  font-size: 16px;
  padding: 10px 0px;
  color: #444;
  font-weight: normal; }

.plans2 .faq p.lighter {
  color: #737272; }

.testimonial.feature-one {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left; }

.testimonial .catch-line {
  text-align: left; }

.testimonial .avatar-container {
  text-align: center; }

.testimonial .what-customers-think {
  text-align: center; }

.testimonial__person-name {
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #333; }

.testimonial__business-name {
  margin-top: 0;
  padding-top: 0;
  color: #333; }

.testimonial .avatar-image {
  border: 4px solid #fff;
  box-shadow: 0 0 0 2pt #dfdede;
  height: 50px;
  width: 50px;
  margin-right: 24px;
  float: left;
  border-radius: 50%; }

button, a, .button {
  position: relative;
  cursor: pointer; }

button.full-width, a.full-width, .button.full-width {
  width: 100%; }

button:hover, a:hover, .button:hover {
  text-decoration: underline; }

button.default, a.default, .button.default {
  background: #dfdfdf;
  color: #999999;
  border: 0;
  font-weight: bold;
  border-bottom: 2px solid #bfbebe;
  padding: 10px;
  border-radius: 2px;
  font-size: 14px;
  display: inline-block;
  text-shadow: none; }

button.default.thin, a.default.thin, .button.default.thin {
  padding: 4px 17px; }

button.default.disabled, a.default.disabled, .button.default.disabled {
  pointer: default; }

button.default.disabled:hover, a.default.disabled:hover, .button.default.disabled:hover {
  text-decoration: none; }

button.default--thick, a.default--thick, .button.default--thick {
  padding: 15px 12px;
  font-size: 16px; }

button.danger, a.danger, .button.danger {
  background: #ee1717;
  color: #fff;
  text-align: center;
  border: 0;
  font-weight: bold;
  border-bottom: 2px solid #a20f0f;
  padding: 10px;
  border-radius: 2px;
  text-shadow: none; }

button.danger--small, a.danger--small, .button.danger--small {
  font-size: 12px;
  padding: 3px 11px; }

button.action, a.action, .button.action {
  background: #2e3d4e;
  border: 0;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  border-bottom: 2px solid #171c22;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold; }

button.action:hover, a.action:hover, .button.action:hover {
  background: #5f82ab;
  border-bottom: 2px solid #435b77; }

button.action--skinny, a.action--skinny, .button.action--skinny {
  font-size: 12px;
  padding: 8px 17px;
  position: absolute;
  right: 15px; }

button.action--small, a.action--small, .button.action--small {
  font-size: 12px;
  padding: 3px 11px; }

button.danger, a.danger, .button.danger {
  background: #ee1717;
  border: 0;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  border-bottom: 2px solid #171c22;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold; }

button.danger:hover, a.danger:hover, .button.danger:hover {
  background: #f03a3a;
  border-bottom: 2px solid #435b77; }

button.danger--skinny, a.danger--skinny, .button.danger--skinny {
  font-size: 12px;
  padding: 8px 17px;
  position: absolute;
  right: 15px; }

button.danger--small, a.danger--small, .button.danger--small {
  font-size: 12px;
  padding: 3px 11px; }

button.secondary, a.secondary, .button.secondary {
  padding: 10px;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  background: #DA4167;
  border-bottom: 2px solid #a3304d;
  text-align: center; }

button.secondary:hover, a.secondary:hover, .button.secondary:hover {
  background: #ee4a72;
  color: #fff; }

button.secondary--inverse, a.secondary--inverse, .button.secondary--inverse {
  font-size: 14px;
  background: #fff;
  border-radius: 0;
  color: #DA4167; }

button.secondary--inverse:hover, a.secondary--inverse:hover, .button.secondary--inverse:hover {
  background: transparent;
  text-decoration: underline;
  color: #DA4167; }

button.secondary--thick, a.secondary--thick, .button.secondary--thick {
  padding: 15px 12px;
  font-size: 16px; }

button.secondary--skinny, a.secondary--skinny, .button.secondary--skinny {
  font-size: 12px;
  padding: 8px 17px;
  position: absolute;
  top: 0;
  right: 0; }

button.secondary--small, a.secondary--small, .button.secondary--small {
  font-size: 12px;
  padding: 3px 11px; }

button.positive, a.positive, .button.positive {
  background: #27ae60;
  border: 0;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
  display: inline-block;
  padding: 10px;
  margin: 0 20px;
  border: 0;
  border-bottom: 2px solid #188947;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold; }

button.positive:hover, a.positive:hover, .button.positive:hover {
  text-decoration: none;
  background: #35c572; }

button.tertiary, a.tertiary, .button.tertiary {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #444;
  text-shadow: none;
  display: inline-block;
  padding: 10px 0px;
  margin: 0 20px;
  border: 0;
  border-bottom: 2px solid #444;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold; }

button.tertiary:hover, a.tertiary:hover, .button.tertiary:hover {
  text-decoration: none; }

button.tertiary--skinny, a.tertiary--skinny, .button.tertiary--skinny {
  font-size: 12px;
  padding: 8px 17px;
  position: absolute;
  right: 15px; }

button.submit-inline, a.submit-inline, .button.submit-inline {
  padding: 4px; }

button.full-width, a.full-width, .button.full-width {
  width: 100%; }

img {
  width: 100%; }

.navigation__logo a {
  color: #fff; }

.navigation__logo a:hover {
  color: #fff; }

.connection-icons i {
  font-size: 30px;
  padding: 22px 24px;
  border: 1px solid;
  margin: 10px;
  border-radius: 100%; }

.pricing .header, .shoppify-layout .header {
  text-align: left; }

.pricing .header h1, .shoppify-layout .header h1 {
  text-align: left; }

.pricing .header .buy, .shoppify-layout .header .buy {
  margin-left: 0; }

.pricing-info {
  background: #f3f3f3;
  color: #444; }

.faq {
  background: #fff;
  color: #444; }

.header {
  text-align: center; }

.header p {
  color: #fff;
  font-size: 20px;
  font-weight: 100; }

.header a {
  text-align: center;
  color: #fff; }

.header a.video {
  margin-left: 10px; }

.header a:hover {
  color: #fff; }

.header .buy {
  border: 3px solid #fff; }

.header .buy.video {
  padding: 12px 23px 12px;
  margin: 16px 27px 27px 27px; }

.header h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 0; }

.shoppify-layout .demo-header h1 {
  margin: 50px 0 16px; }

.catch-line {
  text-align: center; }

.catch-line p {
  color: #999999;
  font-weight: lighter;
  font-size: 24px; }

.red {
  color: #ff6666; }

.trusted-by {
  padding-bottom: 20px;
  padding-top: 7px; }

.platforms p,
.trusted-by p {
  color: #999999;
  font-weight: lighter; }

.platforms,
.trusted-by {
  background: #f3f3f3;
  text-align: center;
  margin: 0; }

.feature-one {
  background: #f3f3f3;
  text-align: center;
  font-size: 18px;
  color: #444;
  line-height: 1.5;
  padding: 50px; }

.feature-one h2 {
  color: #444; }

.feature-two p {
  font-size: 18px; }

.feature-two .row {
  padding-bottom: 80px;
  height: auto; }

.feature-two .row:nth-child(2) {
  height: auto; }

.feature-two .row:nth-child(2) img {
  display: none; }

.feature-two .row:nth-child(3) {
  height: auto; }

.platforms__header h2 {
  font-weight: 300; }

.platforms h1 {
  text-align: center;
  font-weight: normal; }

.platforms img,
.trusted-by img {
  width: auto;
  height: 100px;
  padding: 15px 0;
  max-width: 300px; }

.trusted-by img {
  width: auto;
  height: 100px;
  padding: 15px 0;
  max-width: 300px; }

.row-spacing {
  padding: 30px 0; }

textarea {
  width: 100%; }

.footer {
  padding: 21px 0;
  color: #fff; }

.footer-container {
  background: #2e3d4e; }

.footer-container a {
  color: #fff; }

.footer-container a:hover {
  color: #fff;
  text-decoration: underline; }

.footer-container .legal {
  font-size: 12px; }

@media (min-width: 768px) {
  .platforms img,
  .trusted-by img {
    width: auto;
    height: 100px;
    max-width: 352px; }
  .feature-two .row {
    padding-bottom: 20px;
    height: auto; }
  .feature-two .row:nth-child(2) {
    height: auto; }
  .feature-two .row:nth-child(3) {
    height: auto; }
  .vertical-align {
    display: flex;
    align-items: center; } }

@media (min-width: 992px) {
  .feature-two {
    padding: 40px 0px; }
  .feature-two .row:nth-child(2) img {
    display: block; }
  .platforms img,
  .trusted-by img {
    width: auto;
    height: 80px;
    max-width: 252px; }
  .trusted-by img {
    width: auto;
    height: 115px;
    max-width: 252px; } }
