@import './global.scss';
@import './navigation.scss';
@import './buttons.scss';
@import './venobox.scss';
@import './pricing.scss';
@import './shopify.scss';
@import './bootstraptables.scss';
@import './testimonials.scss';
@import './feature-showcase.scss';
@import './footer.scss';
@import './basic-feature.scss';
@import './header.scss';
@import './cta-section.scss';
@import '../../src/_buttons.scss';

.trusted-by {
    padding-bottom: 20px;
    padding-top: 7px;
}

.platforms,
.trusted-by {
    background: $light-gray;
    text-align: center;
    margin: 0;
}

.platforms h1 {
    text-align: center;
    font-weight: normal;
}

.platforms img,
.trusted-by img {
    width: auto;
    height: 100px;
    padding: 15px 0;
    max-width: 300px;
}

.trusted-by img {
    width: auto;
    height: 100px;
    padding: 15px 0;
    max-width: 300px;
}

@media (min-width: 768px) {
    .platforms img,
    .trusted-by img {
        width: auto;
        height: 100px;
        max-width: 352px;
    }
}
@media (min-width: 992px) {

    .platforms img,
    .trusted-by img {
        width: auto;
        height: 80px;
        max-width: 252px;
    }

    .trusted-by img {
        width: auto;
        height: 115px;
        max-width: 252px;
    }
}
