.validation-message {
    color: #a94442;
}

.add-ics-form {
    padding-bottom: 10px;
}

.calendar-settings {
    height: 100%;
    .calendar-connections {
        .form-group {
            margin-bottom: 15px;
        }
    }
}
