.calendar-connections {
    .title {
        padding: 20px 0;
        margin: 0;
    }

    .form-control {
        display: inline-block;
    }

    table {
        margin-bottom: 20px;
        width:100%;
    }

    td {
        padding: 15px 7px;
        position: relative;
        &.delete {
            text-align: center;
            cursor: pointer;
        }
    }

    tr {
        &.loading {
            opacity: 0.5;
        }
    }

    th {
        color: #333;
        padding: 0px 7px;
    }

    td {
        border-bottom: 1px solid #dfdfdf;
    }

    .remove {
        color: #ff6666;
    }
}
