.public-calendar-form {
    .setting-sub-title--more-info {
        margin-bottom:0;
        a {
            text-align: left;
        }
    }
    .settings-space {
        // padding: 8px 0px 12px 0;
        &--no-bottom-padding {
            padding: 8px 0px 0px 0;
        }
    }
    &__switch-input {
        padding-bottom: 9px;
        display: flex;
        align-items: center;
        label {
            margin-left: auto;
        }
    }
}
