.start-trial-container {
    background:#fff3f6;
    padding: 12px 30px 14px;
    text-align: center;
    position: relative;
    p {
        color:#da4167;
        display: inline-block;
        padding-right: 10px;
    }
}
