.statistic {
    &__container {
        box-shadow: 0 1px 4px #cfd2d4;
        padding: 20px 40px;
        margin: 20px 0 49px;
        background: #fff;
        height: 117px;
        position: relative;
        canvas {
            margin: 15px 0 0;
        }
        .disabled {
            opacity:0.2;
        }
    }
    &__loader {
        position: relative;
        margin-top: 28px;
    }
    &__upgrade-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        text-align: center;
        margin: auto;
        width: 80%;
        z-index: 2;
        p {
            color:#575962;
            font-weight: bold;
            font-size:23px;
        }
    }
    &__value {
        font-size: 40px;
        font-weight: bold;
        line-height: 1;
        color:#575962;
        padding-bottom: 10px;
        i {
            float: right;
            font-size: 24px;
            color: #6786ab;
            cursor: pointer;
        }
    }
    &__value-name {
        color:#999999;
    }
}
