.calendar-selection {
    padding-bottom: 5px;
    &__loading {
        position:relative;
        height:50px;
    }
}

.calendar-selection-container {
    display: none;
    &.show {
        display: block;
    }
}
