button, a, .button {
    position: relative;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

    &.full-width {
        width: 100%;
    }

    &:hover {
        text-decoration: underline;
    }

    &.default {
        background: #dfdfdf;
        color: #999999;
        border:0;
        font-weight: bold;
        padding: 10px;
        border-radius: 2px;
        font-size: 14px;
        display: inline-block;
        text-shadow: none;
        &--inverse {
            background:transparent;
            color: #999;
        }
        &.thin {
            padding: 4px 17px;
        }
        &.disabled {
            cursor: default;
            &:hover {
                text-decoration: none;
            }
        }
        &--thick {
            padding: 15px 12px;
            font-size: 16px;
        }
    }

    &.danger {
        background: #ee1717;
        color: #fff;
        text-align: center;
        border: 0;
        font-weight: bold;
        border-bottom: 2px solid #a20f0f;
        padding: 10px;
        border-radius: 2px;
        text-shadow: none;
        &--small {
            font-size: 12px;
            padding: 3px 11px;
        }
    }

    &.action {
        background: #2e3d4e;
        border: 0;
        box-shadow: none;
        color: #fff;
        text-shadow: none;
        display: inline-block;
        padding: 10px 20px;
        border: 0;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background: #5f82ab;
        }

        &--skinny {
            font-size:12px;
            padding: 8px 17px;
            position: absolute;
            right: 15px;
        }

        &--small {
            font-size: 12px;
            padding: 3px 11px;
        }
    }

    &.danger {
        background: #ee1717;
        border: 0;
        box-shadow: none;
        color: #fff;
        text-shadow: none;
        display: inline-block;
        padding: 10px 20px;
        border: 0;
        border-bottom: 2px solid #171c22;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background: #f03a3a;
            border-bottom: 2px solid #435b77;
        }

        &--skinny {
            font-size:12px;
            padding: 8px 17px;
            position: absolute;
            right: 15px;
        }

        &--small {
            font-size: 12px;
            padding: 3px 11px;
        }
    }

    &.secondary {
        padding: 10px;
        font-size: 14px;
        color: #fff;
        border: 0;
        // margin: 27px 27px 27px 0px;
        border-radius: 2px;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        background: #DA4167;
        text-align: center;
        &:hover {
            background: #e65277;
            color:#fff;
            text-decoration: none;
        }
        &--inverse {
            font-size: 14px;
            background:transparent;
            border-radius:0;
            color: #DA4167;
            &:hover {
                background: transparent;
                text-decoration: underline;
                color: #DA4167;
            }
        }
        &--icon-only {
            font-size: 24px;
            color: #99a1a9;
            transition: all 0.2s ease-in;
            padding-right: 16px;

            &.animate-success {
                color: #67ab6e;
                background: transparent;
                display: flex;
                position: static;
                // font-size:30px;
                &:hover {
                    background: transparent;
                }
            }
            &.animate-error {
                color: #ee1717;
                background: transparent;
                display: flex;
                position: static;
                // font-size:30px;
                &:hover {
                    background: transparent;
                }
            }
        }
        &--thick {
            padding: 15px 12px;
            font-size: 16px;
        }
        &--skinny {
            font-size:12px;
            padding: 8px 17px;
            position: absolute;
            top: 0;
            right: 0;
        }
        &--small {
            font-size: 12px;
            padding: 3px 11px;
        }
        &.disabled {
            cursor: default;
        }
    }

    &.positive {
        background: #27ae60;
        border: 0;
        box-shadow: none;
        color: #fff;
        text-shadow: none;
        display: inline-block;
        padding: 10px;
        margin: 0 20px;
        border: 0;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            text-decoration: none;
            background: #35c572;
        }
    }

    &.tertiary {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: #444;
        text-shadow: none;
        display: inline-block;
        padding: 10px 0px;
        border: 0;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }

        &--skinny {
            font-size:12px;
            padding: 8px 17px;
            position: absolute;
            right: 15px;
        }
    }

    &.modal-embed {
        // For use in full width buttons that sit at the bottom of modals
        border-radius: 0 0 2px 2px;
        margin: 0;
        &:focus {
            outline: 0;
        }
        border-bottom: 0;
    }

    &.submit-inline {
        padding: 4px;
    }

    &.full-width {
        width: 100%;
    }
}
