button, a, .button {
    position: relative;
    cursor: pointer;

    &.full-width {
        width: 100%;
    }

    &:hover {
        text-decoration: underline;
    }

    &.default {
        background: #dfdfdf;
        color: #999999;
        border:0;
        font-weight: bold;
        border-bottom: 2px solid #bfbebe;
        padding: 10px;
        border-radius: 2px;
        font-size: 14px;
        display: inline-block;
        text-shadow: none;
        &.disabled {
            pointer: default;
            &:hover {
                text-decoration: none;
            }
        }
        &--thick {
            padding: 15px 12px;
            font-size: 16px;
        }
    }

    &.danger {
        background: #ee1717;
        color: #fff;
        text-align: center;
        border: 0;
        font-weight: bold;
        border-bottom: 2px solid #a20f0f;
        padding: 10px;
        border-radius: 2px;
        text-shadow: none;
        &--small {
            font-size: 12px;
            padding: 3px 11px;
        }
    }

    &.action {
        background: #2e3d4e;
        border: 0;
        box-shadow: none;
        color: #fff;
        text-shadow: none;
        display: inline-block;
        padding: 10px;
        border: 0;
        border-bottom: 2px solid #171c22;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            background: #5f82ab;
            border-bottom: 2px solid #435b77;
        }

        &--skinny {
            font-size:12px;
            padding: 8px 17px;
            position: absolute;
            right: 15px;
        }
    }

    &.secondary {
        padding: 10px;
        font-size: 14px;
        color: #fff;
        border: 0;
        // margin: 27px 27px 27px 0px;
        border-radius: 2px;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        background: #DA4167;
        border-bottom: 2px solid #a3304d;
        text-align: center;
        &:hover {
            background: #ee4a72;
            color:#fff;
        }
        &--inverse {
            font-size: 14px;
            background:#fff;
            border: 2px solid #DA4167;
            border-radius:0;
            color: #DA4167;
            &:hover {
                text-decoration: underline;
                color: #DA4167;
            }
        }
        &--thick {
            padding: 15px 12px;
            font-size: 16px;
        }
        &--skinny {
            font-size:12px;
            padding: 8px 17px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &.submit-inline {
        padding: 4px;
    }

    &.full-width {
        width: 100%;
    }
}
