.settings-space {
    padding-bottom:10px;
    padding: 20px 0px;
    &--top-border {
        border-top: 1px solid #eee;
    }
    &--center {
        display: flex;
        align-items: center;
    }
    &--bottom-padding-0 {
        // padding-bottom: 0;
    }
    .control-label {
        text-align: left;
    }
}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
}

.widgetSettings-leave {
    opacity:1;
    transition: opacity 500ms ease-in;
    animation-delay: 500ms;
}

.widgetSettings-leave.widgetSettings-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
    animation-delay:500ms;
}

.widgetSettings-enter{
    opacity:0.01;
    transition: opacity 500ms ease-in;
    animation-delay: 5000ms;
}
.widgetSettings-enter.widgetSettings-enter-active{
    opacity:1;
    transition: opacity 500ms ease-in;
    animation-delay: 5000ms;
}


@media (min-width: 992px) {
    .settings-space {
        height: auto;
    }
}
