.settings-space {
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    padding: 16px 0px;
    &--top-border {
        border-top: 1px solid #eee;
    }
    .control-label {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .settings-space {
        height: auto;
    }
}
