@import './_variables';

body {
    margin-bottom:40px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 750px !important;
}

p {
    color: #999999;
    font-size: 20px;
    font-weight: 100;
}

ol, ul {
    margin: 0;
}

.primary-color  {
    color: $primary;
}

.hide {
    display:none;
}

h1 {
    font-size:55px;
    color: #444;
}

.loginForm, .register-form {
    label {
        color: #999999;
        font-size: 20px;
        font-weight: 100;
    }
}

.start-trial {
    border: 3px solid #444;
    color: #444;
    margin: 27px 27px 27px 0px;
    padding: 17px;
    display: inline-block;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: #444;
    }
}

.border-button {
    border: 3px solid #444;
    color: #444;
    padding: 17px;
    margin: 27px 27px 27px 0px;
    display: inline-block;
}

.built-by {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;

    a {
        color: #444;

        &:hover {
            color: #444;
            text-decoration:none;
        }
    }

    img {
        width:40px;
        border-radius:200px;
    }

    span {
        padding-left:5px;
    }
}

.action-button {
    width:100%;
    background: $primary;
    border: 0;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
    padding:20px 0px;
    border-radius:2px;
    margin-top:20px;

    &:hover {
        background: $primary-hover;
        color: #fff;
    }
}
