@import './_variables';
@import './buttons';
@import './dashboardSettings';
@import './uploadcare';
@import './eventcalOverrides';
@import './datepicker';

html {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    height: 100%;
    #app {
        height: 100%;
    }
}

.handshake {
    &--small {
        font-size:24px !important;
    }
    &--medium {
        position: absolute;
        font-size: 37px;
    }
}

.strong {
    font-weight: bold;
}

.form-horizontal .radio-inline {
    padding-top:0;
}

.container {
    max-width: 900px !important;
}

label {
    font-weight: normal;
    color:#676767;
}

select {
    width: 100%;
    background: transparent;
    border: 1px solid #ccc;
    color:#555;
    height: 38px;
}

.form-horizontal .control-label {
    padding-top: 0;
}

.form-horizontal .form-group {
    margin-left: auto;
    margin-right: auto;
}

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    line-height: 1;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

.help .container {
    max-width: 900px !important;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 34px;
    margin-bottom: 10px;
}

p {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
}

p.sub-text {
    font-size: 14px;
    color: #999;
}

.privacy-policy {
    p {
        color: #333;
        font-size: 16px;
        font-weight: normal;
    }
}

ol, ul {
    margin: 20px 0px;
    li {
        padding-bottom:15px;

        a {
            color: #2e3d4e;

            &:hover {
                color: #2e3d4e;
                text-decoration: underline;
            }
        }
    }
}

.large-loader {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    width: 40px;
}

.loader {
    margin: 0 auto;
    width: 40px;
}

.primary-color  {
    color: $primary;
}

.opacity-0 {
    opacity: 0;
}

.hide {
    display:none;
}

h1 {
    font-size:55px;
    color: #444;
}

.loginForm, .register-form, .ics-form, .reset-password-form {
    label {
        color: #999999;
        font-size: 16px;
        font-weight: 100;
    }
}

.dashboard-header .start-trial {
    position: absolute;
    right: 15px;
    top: 10px;
    margin:0;
    padding: 8px 17px;
    font-size: 12px;
}

.start-trial {
    padding: 13px 17px;
    font-size: 14px;
    color: #fff;
    // float: right;
    margin: 27px 27px 27px 0px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    background: #DA4167;
    border-bottom: 2px solid #a3304d;
    text-align: center;

    &:hover {
        text-decoration: underline;
        color: #fff;
    }

    &--smaller-margin {
        margin: 13px 27px 27px 0px;
        background:#fff;
        border: 2px solid #DA4167;
        border-radius:0;
        color: #DA4167;
        &:hover {
            text-decoration: underline;
            color: #DA4167;
        }
    }
    &--no-margin {
        margin: 0px;
        background:#fff;
        border: 2px solid #DA4167;
        border-radius:0;
        color: #DA4167;
        &:hover {
            text-decoration: underline;
            color: #DA4167;
        }
    }
}

.border-button {
    border: 3px solid #444;
    color: #444;
    cursor: pointer;
    padding: 17px;
    margin: 27px 27px 27px 0px;
    display: inline-block;
}

.built-by {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;

    a {
        color: #444;

        &:hover {
            color: #444;
            text-decoration:none;
        }
    }

    img {
        width:40px;
        border-radius:200px;
    }

    span {
        padding-left:5px;
    }
}

.action-button {
    width:100%;
    background: $primary;
    border: 0;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
    padding:20px 0px;
    border-radius:2px;
    margin-top:20px;

    &:hover {
        background: $primary-hover;
        color: #fff;
    }
}

.inline-button {
    display:inline-block;
    width: auto;
    padding: 20px 10px;
}

.gif-image {
    max-width: 100%;
    border: 1px solid #ececec;
    margin-top:20px;
}

.dashboard {
    overflow:hidden;
}

.dashboard-header {
    padding: 13px 30px;
    font-size: 20px;
    font-weight: bold;
    &__loading-indicator-container {
        opacity: 0;
        display: inline-block;
        &.display {
            animation-name: display;
            animation-duration: 0.3s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }
    }
    @keyframes display {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    &__loading-indicator {
        transition: opacity 0.3s ease-in;
        display: inline-block;
        position: relative;
        font-size: 11px;
        background: #db4066;
        padding: 5px 5px 5px 30px;
        border-radius: 2px;
        margin-left: 11px;
        margin-top: 0px;
        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    &__close {
        position: absolute;
        border-left: #a3304d;
        right: 25px;
        height: 56px;
        color: #da4167;
        cursor: pointer;
        z-index: 1;
        &:hover {
            background: #ee4a72;
        }
        i {
            position: absolute;
            font-size: 26px;
            right: 19px;
            top: 14px;
        }
    }
    &--right {
        background:#f5f0f0;
    }
    &--left {
        background: #6787ab;
        color: #fff;
    }
}

.modal-footer {
    border-top: 0;
}
.modal {
    z-index: 999999999999999;
}

.modal-header {
    border-top: 6px solid #6787ab;
}

.modal-content {
    overflow: auto;

    p {
        color: #737373;
    }

    p.light {
        color: #fff;
    }

    h3 {
        font-weight: bold;
    }

    border-radius: 3px;
    border: 0;
}

.modal-title {
    span {
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 16px;
    }
}

.modal-header {
    text-align:center;
    border-bottom: 0;

    .close {
        font-size:25px;
    }
}

//forms

.has-error .form-control:focus {
    box-shadow: none;
}

.form-control {
    box-shadow: none;
    border-radius: 2px;
    height: 38px;

    &--no-fixed-height {
        height: auto;
    }

    &.has-error {
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }

    &:focus {
        box-shadow: none;
    }
}

.scrollable-area {
    overflow-y:scroll;
}

.scrollable-area::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.scrollable-area::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.mce-tinymce {
    box-shadow: none !important;
}

.mce-panel {
    border: 0 solid #ccc;
}

.mce-content-body {
    padding: 11px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
    .left {
        text-align: left;
    }
}

@keyframes color {
  0% {
    background-color: #da4167;
  }
  50% {
    background-color: #eb4f75;
  }
  100 {
    background-color: #da4167;
  }
}

.help-block {
    color: #ee1817;
    font-weight: bold;
}

#event-calendar-app .calendar-list-event:after {
    width: 100px !important;
    height: 20px !important;
    content: 'Editing this event' !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 11px !important;
    background: #db4066 !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    display: none;
}
