body {
    margin-bottom:40px;
}

p {
    color: #999999;
    font-size: 20px;
    font-weight: 100;
}

.hide {
    display:none;
}

h1 {
    font-size:55px;
}

.loginForm, .register-form {
    label {
        color: #999999;
        font-size: 20px;
        font-weight: 100;
    }
}

.start-trial {
    border: 3px solid #444;
    color: #444;
    margin: 27px 27px 27px 0px;
    padding: 17px;
    display: inline-block;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: #444;
    }
}

.border-button {
    border: 3px solid #444;
    color: #444;
    padding: 17px;
    margin: 27px 27px 27px 0px;
    display: inline-block;
}

.built-by {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;

    a {
        color: #444;

        &:hover {
            color: #444;
            text-decoration:none;
        }
    }

    img {
        width:40px;
        border-radius:200px;
    }

    span {
        padding-left:5px;
    }
}
