<!DOCTYPE html>
<html lang="en">
    {{> head title='Event Calendar for Wix' description='Add a stunning Event Calendar to your Wix website. Takes minutes to install.' }}
    <body class="pricing">
        <div class="navigation">
            {{> navigation }}
            <div class="container">
                <div class="header">
                    <h1>The perfect Event Calendar for Wix</h1>
                    <p>Event Calendar App is the best Event Calendar for your Wix website. We promise.</p>
                    <a class="secondary secondary--thick" href="/register">Get Started</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-spacing catch-line" style="margin-bottom: 0px; padding-bottom: 0;">
                <div class="col-md-12">
                    <div>
                        <h2>Install this calendar on your Wix site. Setup in <strong>minutes.</strong></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container widget">
            <div class="row">
                <div class="col-md-12">
                    <div id="app-container"></div><script>(function () {
                        window.eventCalId=2;
                        var integrationScript = document.createElement("script");
                        integrationScript.async = 1;
                        integrationScript.setAttribute("src", "https://drux6c7e0s0bo.cloudfront.net/integration-script-aws.js");
                        document.head.appendChild(integrationScript);
                        })();
                    </script>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-spacing catch-line">
                <div class="col-md-12">
                    <div>
                        <p style="margin-top:0"><a class="secondary" href="/register">Install on my website</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid feature-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>A superior choice over anything in the Wix app store</h2>
                        <p>Ever feel that the Wix app store is lacking in a quality Event Calendar apps? So did we.</p>
                        <!-- <p class="connection-icons"><i class="fab fa-wix"></i></p> -->
                        <p>Event Calendar App isn't <strong>just</strong> for Wix, and so we're not on their official app store. But we integrate with Wix perfectly.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid feature-two">
            <div class="row vertical-align">
                <div class="col-md-3 col-md-offset-2">
                    <img src="/images/homepage/editorscreen.jpg"></img>
                </div>
                <div class="col-md-4 col-md-offset-1 feature-two__content">
                    <h1>Build your perfect Event Calendar for Wix</h1>
                    <p>Use Event Calendar App's powerful editor to build exactly the kind of Event Calendar you want for Wix. Customise almost everything, Add images, filter options, images, thumbnails and much more!</p>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-md-4 col-md-offset-2 feature-two__content">
                    <h1>Add your new Event Calendar to Wix in minutes</h1>
                    <p>Event Calendar App is super easy to add to your Wix site. We walk you through every step of the process. It's as simple as copy and pasting a little snippet of code.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/homepage/wixdashboardimage.jpg"></img>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-md-3 col-md-offset-2">
                    <img src="/images/homepage/three.jpg"></img>
                </div>
                <div class="col-md-4 col-md-offset-1 feature-two__content">
                    <h1>Fully responsive and adaptable to your site</h1>
                    <p>Event calendar app looks great on your desktop, tablet and mobile site. It also fully adapts to the space that you give it. Want a calendar that dominates your page? Great! Want a calendar that sits subtly in a sidebar? Also great!</p>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-md-4 col-md-offset-2 feature-two__content">
                    <h1>Your customers need to keep updated about your events</h1>
                    <p>That's why we let your customers subscribe to your Event Calendar. This means that your events will appear directly inside their own calendar.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/homepage/one.jpg"></img>
                </div>
            </div>
        </div>
        <div class="container-fluid darker">
            <div class="row catch-line row-spacing">
                <div class="col-md-12">
                    <h1>Your website deserves an amazing Event Calendar</h1>
                    <p>Get started with a 7 day free trial.</p>
                    {{#unless loggedIn}}
                        <a class="secondary secondary--thick" href="http://eventcalendarapp.com/register">Get your event calendar</a>
                    {{/unless}}
                    {{#if loggedIn}}
                        <a class="secondary secondary--thick" href="http://eventcalendarapp.com/dashboard">Get your event calendar</a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="container-fluid footer-container">
            <div class="row catch-line footer">
                <div class="col-md-12">
                    <div class="legal"><a href="/terms-of-use">Terms of Use</a> | <a href="/privacy-policy">Privacy Policy</a></div>
                    <div>© 2017 - EVENTCALENDARAPP</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
