.addEventSubmitButtons {
    padding: 0 23px 0 30px;
    button {
        margin-right: 5px;
    }
    .tertiary:first-child {
        margin-left: 0;
    }

    &__actions {
        border-top:1px solid #eee;
        padding: 20px 0;
    }

    &__note {
        font-size: 14px;
        color: #999;
    }
}

.secondary {
    transition: background 0.4s ease-in;
}

button.secondary.animate-success {
    background: #67ab6e;
    border-bottom: 2px solid #316937;
    &:hover {
        background: #67ab6e;
        border-bottom: 2px solid #316937;
        text-decoration: none;
    }
}
